<nav class="navBar sticky-top">
  <div class="navBar-brand">
    <a routerLink="/home">
      <h1>LOGO</h1>
    </a>
  </div>
  <div class="navBar-nav">
    <div class="navBar-item">
      <a routerLink="/about">About Us</a>
    </div>
    <div class="navBar-item">
      <a routerLink="/contact">Contact Us</a>
    </div>
    <div class="navBar-item">
      <a routerLink="/blog">Blog</a>
    </div>
    <div class="navBar-item">
      <a routerLink="/faqs">FAQs</a>
    </div>
    <div class="navBar-item navBar-dropPar">
      <a routerLink="/shop">Shop</a>
      <div class="navBar-drop">
        <a routerLink="/home">Fashion</a>
        <a routerLink="/home">Electronics</a>
        <a routerLink="/home">Food & Drinks</a>
        <a routerLink="/home">Gaming</a>
        <a routerLink="/home">Appliances</a>
        <a routerLink="/home">Furnitures</a>
      </div>
    </div>
    <div class="navBar-item">
      <a routerLink="/Cart">Cart
        <span class="badge badge-danger cartItems">1</span>
      </a>
    </div>
    <div class="navBar-item navBar-dropPar">
      <a routerLink="/shop">Accounts  </a>
      <div class="navBar-drop">
        <a routerLink="/signup">Sign Up</a>
        <a routerLink="/sighin">Sign In</a>
      </div>
    </div>
  </div>
  <div class="navBar-search">
    <div class="search">
      <input type="text" id="searchItems" placeholder="Search...">
    </div>
    <button type="button" class="searchBtn">Search</button>
  </div>
</nav>
